---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
import ThemeIcon from "./themeIcon.astro";
---
<header class='c-header'>
    <nav>
        <Hamburger />
        <!-- <ThemeIcon /> -->
        <Navigation />
    </nav>
</header>