$widths: (
    s: 45em,
    m: 50em,
    l: 75em
);

$width-s: 45em;
$width-m: 50em;
$width-l: 75em;

$spaces: (
    xs: 4px,
    s: 8px,
    m: 16px,
    l: 24px,
    xl: 32px,
    xxl: 64px,
    xxxl: 80px,
);

$space-xs: map-get($spaces, 'xs');
$space-s: map-get($spaces, 's');
$space-m: map-get($spaces, 'm');
$space-l: map-get($spaces, 'l');
$space-xl: map-get($spaces, 'xl');
$space-xxl: map-get($spaces, 'xxl');
$space-xxxl: map-get($spaces, 'xxxl');