$fontSizes: (
    xxs: 4px,
    xs: 12px,
    s: 16px,
    m: 22px,
    l: 48px,
    xl: 64px,
    xxl: 80px
);

$font-xxs:  map-get($fontSizes, 'xxs');
$font-xs:   map-get($fontSizes, 'xs');
$font-s:    map-get($fontSizes, 's');
$font-m:    map-get($fontSizes, 'm');
$font-l:    map-get($fontSizes, 'l');
$font-xl:   map-get($fontSizes, 'xl');
$font-xxl:  map-get($fontSizes, 'xxl');