$fontSizes: (
    2xs: 4px,
    xs: 8px,
    s: 16px,
    m: 22px,
    l: 48px,
    xl: 64px,
    2xl: 80px
);

$font-2xs: 4px;
$font-xs: 8px;
$font-s: 16px;
$font-m: 22px;
$font-l: 48px;
$font-xl: 64px;
$font-2xl: 80px;